/* Grid principal */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    /* garante que nada vaze */
}

.parent>div {
    position: relative;
}

/* Título principal */
.div1 {
    grid-column: 1 / 6;
    /* ocupa todas as 5 colunas */
}

.div1 span {
    color: var(--cor-principal);
}

/* Sobre mim - texto */
.div2 {
    grid-column: 1 / 4;
    /* ocupa 2 colunas */
    grid-row: 2;

}

.div2 p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--cor-texto-h3)
}

/* Lista de informações */
.div3 {
    grid-column: 4 / 5;
    /* ocupa 3 colunas */
    grid-row: 2;
    margin-top: 15px;
}

.div3 .label {
    font-size: 16px;
    color: var(--cor-text-exp);
    background-color: var(--cor-principal);
    border-radius: 4px;
    padding: 4px 8px;
}

.div3 .value {
    font-size: 16px;
    color: var(--cor-texto);
    padding: 4px 8px;
}

.info-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-list li {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.div2 p,
.info-list li,
.label,
.value {
    word-wrap: break-word;
    white-space: normal;
}


.label {
    white-space: nowrap;
}

.value {
    white-space: nowrap;
    color: var(--cor-principal);
    font-weight: bold;
}

/* Título serviços */
.div4 {
    grid-column: 1 / 6;
    grid-row: 3;
}

.div4 span {
    color: var(--cor-principal);
}

/* Bloco de serviços */
.div5 {
    grid-column: 1 / 6;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* centraliza horizontalmente */
}

.div5 i {
    font-size: 50px;
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
}


/* Linha horizontal abaixo da div4 (opcional) */
.div1::after {
    content: "";
    position: absolute;
    bottom: 0;
    /* na base da div4 */
    left: 0;
    width: 100%;
    /* linha completa */
    height: 1px;
    background-color: var(--cor-texto);
}


/* Linha vertical entre .div2 e .div3 */
.div2::after {
    content: "";
    position: absolute;
    top: 0;
    /* começa no topo da div2 */
    right: 0;
    /* encosta na borda direita da div2 */
    width: 1px;
    /* espessura da linha */
    height: 100%;
    /* altura total da div2 */
    background-color: var(--cor-texto);
    /* cor da linha */
}

/* Linha horizontal abaixo da div4 (opcional) */
.div4::after {
    content: "";
    position: absolute;
    bottom: 0;
    /* na base da div4 */
    left: 0;
    width: 100%;
    /* linha completa */
    height: 1px;
    background-color: var(--cor-texto);
}

@media (max-width: 1070px) {

    .parent {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .div2 {
        margin: 0px 20px;
    }

    /* remove linhas verticais do desktop */
    .div2::after {
        display: none;
    }

    /* Ajustes individuais */
    .div2 p {
        font-size: 16px;
        line-height: 1.5;
    }

    .div3 {
        margin: 15PX 20PX 0PX 20PX
    }

    .info-list {
        width: 100%;
        font-size: 14px;
    }

    .div5 {
        align-items: center;
        text-align: center;
    }

    .desenvolvimento .titulo {
        margin: 0px;
    }

}


@media (max-width: 480px) {
    .div3 .value, .div3 .label {
        font-size: 10px;
    }
}