
/* Títulos principais */
#contato .titulo_contato h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

#contato .titulo_contato span {
    color: var(--cor-principal);
}

/* =============================== */
/*     GRID DO CONTATO             */
/* =============================== */

#contato {
    display: flex;
    flex-direction: column;
}

.div3 {
    padding-right: 20px;
    position: relative;
}

/* Linha vertical separadora */
.div3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--cor-texto);
    opacity: 0.15;
}

/* =============================== */
/*  LISTA DE INFORMAÇÕES PESSOAIS */
/* =============================== */

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.info-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255,255,255,0.06);
}

.info-list .label {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
}

.info-list .value {
    color: var(--cor-principal);
    font-weight: bold;
    white-space: nowrap;
}

/* =============================== */
/*          FORMULÁRIO            */
/* =============================== */

#conteudo-contato {
    padding-left: 20px;
}

#conteudo-contato .titulo_contato h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form_contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
}

.form_contato label {
    font-weight: 600;
    color: var(--cor-texto-h3);
    margin-bottom: -5px;
}



.linha-dupla {
    display: flex;
    justify-content: space-around;
    gap: 15px; /* espaço entre Nome e Email */
}

.linha-dupla input {
    width: 100%; /* para ficar proporcional */
}

.mensagem {
    margin-top: 35px;
}

.campo, .mensagem {
    position: relative;
}

.campo input,
.mensagem textarea {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250px;
    outline: none;
    border: none;
    border-bottom: 1px solid #a5a4a4;
    background: transparent;
    resize: none; /* opcional */
}

/* Label inicial */
.campo label,
.mensagem label {
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.2s ease;
    pointer-events: none;
}

/* Efeito flutuante */
.campo input:focus ~ label,
.mensagem textarea:focus ~ label
 {
    top: -20px;
    font-size: 14px;
    color: var(--cor-principal);
}

/* Label sobe quando tiver texto */
.campo input:not(:placeholder-shown) ~ label,
.mensagem textarea:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--cor-principal);
}

.campo input:focus,
.mensagem textarea:focus {
    border-bottom: 2px solid var(--cor-principal);
}


/* BOTÃO */
.form_contato button {
    margin-top: 10px;
    background-color: var(--cor-principal);
    border: none;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    color: var(--cor-fundo-card);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form_contato button:hover {
    background-color: var(--cor-principal-hover);
    transform: scale(1.02);
}

/* Linha abaixo do título da parte direita */
#conteudo-contato .titulo_contato {
    position: relative;
    padding-bottom: 10px;
}

#conteudo-contato .titulo_contato::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--cor-texto);
    opacity: 0.1;
}


/* Fundo escuro */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    position:fixed;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: none; /* começa escondido */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Caixa do modal */
.modal-content {
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    animation: aparecer 0.3s ease;
}

/* Animação */
@keyframes aparecer {
    from { opacity: 0; transform: scale(0.8); }
    to   { opacity: 1; transform: scale(1); }
}

#btn-fechar-modal {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: var(--cor-principal);
    color: #000;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

#btn-fechar-modal:hover {
    background: var(--cor-principal);
}

body.modal-open {
    filter: blur(3px);
}


@media (max-width: 1070px) {

    .grid,
    .grid_trabalhos,
    .grid_formacao,
    .grid_experiencia,
    .container_linguagens,
    .itens_grid,
    .linha-dupla,
    .info-list {
        display: flex !important;
        flex-direction: column !important;
        gap: 15px !important;
        width: 100%;
    }

    /* Tira linha separadora */
    .div3::after {
        display: none;
    }

    /* Corrige inputs do contato */
    .linha-dupla input {
        width: 100%;
    }



    #nome {
    margin-bottom: 20px;
    }


}

@media (max-width: 480px) {
    .value,  .label {
        font-size: 10px;
    }
}