
.trabalhos {
  padding: 40px;
  background-color: var(--cor-secundaria);
}

.titulo_trabalhos h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--cor-texto);
}

.titulo_trabalhos h1 span {
  color: var(--cor-principal); /* cor destaque */
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.filtros button {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background-color: var(--cor-secundaria);
  cursor: pointer;
  transition: 0.3s;
}

.filtros button:hover,
.filtros button.ativo {
  background-color: var(--cor-principal);
  color:var(--cor-secundaria);
}

.grid_trabalhos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.trabalho {
  text-align: center;
  background-color: var(--cor-secundaria);
  border-radius: 12px;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.trabalho:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.trabalho img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.trabalho h3 {
  margin-top: 10px;
  font-size: 18px;
  color: var(--cor-texto);
  
}

.trabalho .tipo {
  font-size: 14px;
  color: #888;
}



@media (max-width: 1070px) {

    /* ===== GRID SOBRE MIM ===== */

    .grid_trabalhos {
        display: grid;
        grid-template-columns: 1fr !important; /* força 1 coluna */
        gap: 20px; /* mantém espaçamento bonito */
    }

    /* garante que nada distorça */
    .trabalho img {
        height: 200px; 
    }

}